// MARK : CARDS
    
#cards
    margin-top: 40px

#wrapper-cards
    display: grid
    grid-template-columns: repeat(4, auto)
    grid-gap: 20px
    grid-row-gap: 40px

.card
    display: flex
    align-items: center
    justify-content: center

    margin: 0

    width: 250px
    height: 155px

    text-align: center

    border-radius: 12px
    box-shadow: 0 5px 30px rgba(0, 0, 0, 0.1)
    //box-shadow: 0 40px 80px rgba(70, 72, 85, 0.1)
    background: white

    transition: transform .3s ease

    h3,
    h4,
    p
        margin: 0
        padding: 0

    h3
        font-size: 18px

    h4
        font-size: 15px
        font-weight: lighter

    p
        font-size: 12px
        margin-top: 0
        color: $unselected

.card:hover
    transform: scale(1.05)

#card1
    grid-column-start: 2
    
#cards-add_card
    box-shadow: none
    background: none
    border: 4px dashed $border
    transition: transform .3s ease

    svg
        width: 25px
        height: 25px
        justify-self: center
        align-self: center
        //transition: transform .3s ease


#cards-add_card:hover
    transform: scale(1.04)
    

// FLIPS
.flip-container
    perspective: 1000px

    .flip-container:hover .flipper,
    .flip-container.hover .flipper
		transform: rotateY(180deg)

.flipper 
	transition: 0.6s
	transform-style: preserve-3d

	position: relative


/* hide back of pane during swap */
.front, .back 
	backface-visibility: hidden

	position: absolute
	top: 0
	left: 0


/* front pane, placed above back */
.front 
	z-index: 2
	/* for firefox 31 */
	transform: rotateY(0deg)


/* back, initially hidden pane */
.back 
	transform: rotateY(180deg)

	
        
