#header-background
    background: white
    border-bottom: 1px solid rgba(112, 112, 112, 0.2)
    
#navbar-wrapper
    display: grid
    grid-template-columns: repeat(2, auto)

.header
    display: flex
    justify-content: space-between
    margin-top: 10px
    
    li
        font-weight: 700
        font-size: 20px
        list-style: none
        align-content: center

    li:first-child
        font-size: 30px
        margin-left: -40px
        align-self: center

        a
            color: $title
            padding: 0

    li:nth-child(2)
        align-self: center
        margin-top: 10px
        margin-right: -83%

        a
            color: $title

    svg
        width: 20px
        height: 20px

#header-right
    justify-self: end

    svg
        width: 20px
        height: 20px

    img
        height: 50px
        margin-top: 6px
       