#header-background
    background: white
    border-bottom: 1px solid rgba(112, 112, 112, 0.2)
    
#navbar-wrapper
    display: grid
    grid-template-columns: repeat(2, auto)

#header
    h3
        font-size: 30px
        font-family: 'Open Sans', sans-serif
        color: $title
        align-self: center

#header-right
    justify-self: end
    align-self: center

    svg
        margin-bottom: 10px
        margin: 0 20px 10px 0
        width: 20px
        height: 20px

    img
        height: 50px
        margin-top: 6px
       