.header-nav
    display: flex
    justify-content: space-between
    margin-top: 40px
    
    li
        font-weight: 700
        font-size: 20px
        list-style: none

    li:first-child
        font-size: 25px
        margin-left: -40px

        a
            color: $title
            padding: 0

#profile-picture
    height: 50px
    border-radius: 50%

       